*{
    margin: 0;
    border: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.corTextoBranco{
    color: white;
}


.apresentacao a{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: springgreen;
    border: solid springgreen;
    border-radius: 5%;
    height: 9vh;
    width: 30vw;
    transition-delay: 70ms;
}


.apresentacao{
    display: grid;
    grid-template-rows: 50vh 50vh 45vh;
    grid-row-gap: 5vh;
    align-items: center;
    padding: 1rem;
}

.apresentacao p{
    text-align: justify;
}

.apresentacao p{
    text-align: justify;
}


.apresentacao img{
    width: 90vw;
    height: auto;
    border: solid #9E77F7;
}


body{
    background-color: #131724;
}


.fotosDoProjeto{
    padding: 5vh 0 5vh 0;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 3rem;
    background-color: #211833;
    align-items: center;
    justify-content: center;
}

.fotosDoProjeto img{
    width: 80vw;
    height: auto;
    border: solid #9E77F7;
}

.header{
    padding: 2em;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 2rem;
}

.header a{
    text-align: center;
    text-decoration: none;
    color: #6A67D6;
    border: solid #6A67D6;
    border-radius: 5%;
    padding: 1rem;
    width: 15vw;
    transition-delay: 10ms;
}

.header a:hover{
    background-color: #7E98ED;
}

.apresentacao a:hover{
    background-color: rgb(145, 255, 200);
}

.vercoesDoProjeto{
    padding-top: 3vh;
    padding-bottom: 3vh;
}


.vercoesDoProjeto>ul{
    display: grid;
    grid-template-rows: repeat(6, 35vh);
    grid-row-gap: 3vh;
    list-style: none;
}



@media only screen and (min-width: 1000px) {
    .apresentacao{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vh;
        grid-column-gap: 1vh;
        align-items: initial;
        justify-content: initial;
        padding: 1rem;
    }
    .apresentacao img{
        width: 45vw;
        height: auto;
    }
}
